
 .dibuw{
	 padding-top:60px;
 font-size:12px;
 font-family:"微软雅黑";
 font-synthesis: weight style;}
 
.dibuyi a img{width:20px;
 height:20px;
 margin-bottom:60px;
 margin-top:20px;} 
 .dibuw .dibu .dibuyi{margin-bottom:63px;} 
 .head{height:100px;}
 	.dibu{
	 color:#999;
	 text-align:center;
 margin-top:20px;
 }